<section class="vh-60" style="background-color: #4B515D;">
  <div class="container py-5 h-50">

    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-8 col-lg-6 col-xl-4">

        <div class="card" style="color: #4B515D; border-radius: 35px;">
          <div class="card-body p-4">

            <div class="d-flex">
              <h6 class="flex-grow-1">Warsaw</h6>
              <h6> {{ weatherInfo.Time|date("d/m/Y H:m:i") }} </h6>
            </div>

            <div class="d-flex flex-column text-center mt-5 mb-4">
              <h6 class="display-4 mb-0 font-weight-bold" style="color: #1C2331;"> {{ weatherInfo.temp }}&#8451;</h6>
              <span class="small" style="color: #868B94"> {{ weatherInfo.WeatherText }} </span>
            </div>

            <div class="d-flex align-items-center">
              <div class="flex-grow-1" style="font-size: 1rem;">
                <div><i class="fas fa-wind fa-fw" style="color: #868B94;"></i> <span class="ms-1"> {{ weatherInfo.Wind }} km/h
                  </span></div>
                <div><i class="fas fa-tint fa-fw" style="color: #868B94;"></i> <span class="ms-1"> {{ weatherInfo.Humidity }}% </span>
                </div>
              </div>
              <div>
                <img src="https://developer.accuweather.com/sites/default/files/{{ weatherInfo.Icon }}-s.png"
                  width="100px">
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

  </div>
</section>

{# 
<section class="vh-30" style="background-color: #4B515D;">
  <div class="container py-1 h-20">

    <div class="row d-flex justify-content-center align-items-center h-10">
      <div class="col-md-2 col-lg-2 col-xl-3">

        <div class="card" style="color: #4B515D; border-radius: 35px;">
          <div class="card-body p-4">

            <div class="d-flex">
              <h6 class="flex-grow-1">Warsaw</h6>
              <h6> 15:12 </h6>
            </div>

            <div class="d-flex flex-column text-center mt-1 mb-1">
              <h6 class="display-6 mb-0 font-weight-bold" style="color: #1C2331;"> -22,0 &#8451;</h6>
              <span class="small" style="color: #868B94"> Zimno </span>
            </div>

            <div class="d-flex align-items-center">
              <div class="flex-grow-1" style="font-size: 1rem;">
                <div><i class="fas fa-wind fa-fw" style="color: #868B94;"></i> <span class="ms-1"> 115 km/h
                  </span></div>
                <div><i class="fas fa-tint fa-fw" style="color: #868B94;"></i> <span class="ms-1"> 56% </span>
                </div>
              </div>
              <div>
                <img src="https://developer.accuweather.com/sites/default/files/32-s.png"
                  width="100px">
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

  </div>
</section> #}