<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
              <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
              crossorigin="anonymous">
              <!-- Font Awesome -->
            <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
            rel="stylesheet"
            />
            <!-- Google Fonts -->
            <link
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
            rel="stylesheet"
            />
            {# <!-- MDB -->
            <link
            href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.0.0/mdb.min.css"
            rel="stylesheet"
            /> #}
        {% endblock %}

        {% block javascripts %}
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
                crossorigin="anonymous"></script>
             <!-- MDB -->
            <script
            type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.0.0/mdb.umd.min.js"
            ></script>
        {% endblock %}
    </head>
    <body>
        <header class="py-1 bg bg-white mt-5 mb-4">
            <div class="container px-4 px-lg-5">
                <div class="text-center">
                    <h1 class="display-4 fw-bolder">Kalkulator średniego spalania</h1>
                </div>
            </div>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="d-flex justify-content-around mt-4">
                <a href="{{ path('app_user') }}" class="btn btn-dark">Strona główna</a>
                <a href="{{ path('app_logout') }}" class="btn btn-dark">Wyloguj się!</a>
            </div>
            {% endif %}
        </header>
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                    <strong>{{ message|raw }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endfor %}

        {% block body %}{% endblock %}
            <!-- Footer-->
        <footer class="py-2 bg bg-white">
            {{ render(controller('App\\Controller\\APiWeatherController::getAPiWeatherData')) }}    
            <div class="container"><p class="m-1 text-center text-secondary">Copyright &copy; Szymon Woźniak 2024</p></div>
        </footer>
    </body>
</html>
