{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
   
	
    <!-- Header-->
    <header class="py-5">
        <div class="container px-lg-5">
            <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
                <div class="m-4 m-lg-5">
                    <h2 class="display-7 fw-bold">Kalkulator Średniego Spalania</h2>
                    <h2 class="display-7 fw-bold">Witamy!</h2>
                    <p class="fs-5">{{ logged.getUserName() }} {{ logged.getUserLastName() }}</p>
                    <a href="{{ path('app_car') }}" class="btn btn-primary">Lista samochodów</a>
                    <a href="{{ path('car_add') }}" class="btn btn-primary">Dodaj nowy samochód</a></br></br></br>
                    <a href="{{ path('app_logout') }}" class="btn btn-primary">Wyloguj się</a>
                </div>
            </div>
        </div>
    </header>

{% endblock %}